<!DOCTYPE html>
<html>
<head>
  <title>Theface</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<nav>
  <% if user_signed_in? %>
    Hi <%= current_user.name %>
    [Sign out]
  <% else %>
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <%= image_tag "http://sociallygold.com/wp-content/uploads/2014/05/facebook-login-button.png" %>
    <% end %>

  <% end %>
</nav>

<%= yield %>

</body>
</html>
